* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}
/* common styles  */
.btn {
  padding: 20px 25px;
  color: white;
  background-color: rgba(255, 144, 14, 1);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.btn:active {
  color: white;
  background-color: rgb(228, 140, 40);
}
.section-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.section-description {
  color: #727272;
  line-height: 1.6rem;
}
.primary {
  color: #ff900e;
}
.gray {
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;
}

/* header section start  */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
  margin-bottom: 5rem;
}
/* nav section  */
nav {
  margin-bottom: 100px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-name {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.menu {
  display: flex;
}
.menu-item {
  margin-right: 50px;
  list-style: none;
}
.menu-item a {
  color: #424242;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6rem;
  text-decoration: none;
}
/* banner section  */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-desc {
  color: #727272;
  line-height: 1.6rem;
  padding: 1.8rem 0;
}
.banner-btn {
  margin-bottom: 2rem;
  font-size: 18px;
  font-weight: 600;
}
.banner img {
  width: 100%;
}
/* main section start  */

/* features section  */
main {
  max-width: 1440px;
  margin: 0 auto;
}
.features {
  display: flex;
  align-items: center;
  gap: 4.4rem;
  margin: 0 30px;
  margin-bottom: 9.4rem;
}
.gallery-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.gallery-img {
  max-width: 350px;
}
.content-column {
  max-width: 525px;
}
.feature-title {
  margin-bottom: 1.5rem;
}
.feature-btn {
  margin-top: 2rem;
}
/* Experience section  */
.experience {
  display: flex;
  gap: 150px;
  align-items: center;
  margin-bottom: 150px;
  margin-left: 50px;
  margin-right: 50px;
}
.exp-title {
  margin-bottom: 25px;
  padding-left: 20px;
  border-left: 5px solid #ff900e;
}
.exp-description {
  margin-bottom: 30px;
}
.card {
  padding: 30px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.card-title {
  color: #131313;
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 10px;
}
.author-profile {
  position: relative;
}
.experience-btn {
  padding: 40px;
  position: absolute;
  left: -12%;
  bottom: -5%;
  border-radius: 8px;
}
.btn-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.4rem;
}
.btn-text {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
}
/* Facts section  */
.facts {
  margin-bottom: 150px;
  margin-left: 25px;
}
.facts-description {
  max-width: 550px;
  margin-top: 25px;
  margin-bottom: 100px;
}
.facts-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.facts-card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  padding: 2.3rem 2rem;
  text-align: center;
}
.fact-number {
  color: #424242;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.fact-text {
  color: #727272;
  font-size: 1.25rem;
  font-weight: 600;
}
/* sponsor section  */
.sponsor {
  text-align: center;
  margin-bottom: 130px;
}
.sponsor-description {
  max-width: 550px;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 3.125rem;
}
.logo-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  align-content: center;
}
/* footer section  */
footer {
  max-width: 1440px;
  margin: 0 auto;
  border-radius: 8px;
  margin-bottom: 200px;
}
.footer {
  background-color: #fff4e7;
  margin-left: 20px;
  margin-right: 20px;
  padding: 40px 10px;
}

.footer-text {
  color: #424242;
  text-align: center;
  font-size: 1.25rem;
}
/* responsive media queries  */
/* small device  */
@media screen and (max-width: 576px) {
  /*common style  */
  .section-title {
    font-size: 1.8rem;
  }
  .gray {
    color: #727272;
    font-size: 1.8rem;
    font-weight: 500;
  }
  .section-description {
    color: #727272;
    line-height: 1rem;
  }
  .btn {
    padding: 10px 15px;
  }
  /* header  */
  header {
    padding: 30px 10px;
  }
  .nav-container {
    flex-direction: column;
    gap: 20px;
  }
  .logo-name {
    font-size: 1.5rem;
  }
  .menu {
    flex-wrap: wrap;
  }
  .menu-item {
    margin-right: 20px;
  }
  .menu-item a {
    font-size: 0.8rem;
  }
  .banner-title {
    font-size: 2rem;
  }
  /* feature  */
  .features {
    flex-direction: column;
    margin: 0 30px;
  }
  .gallery-column {
    grid-template-columns: 1fr;
  }
  .gallery-img {
    max-width: 200px;
  }
  /* experience  */
  .experience {
    flex-direction: column;
    margin: 20px;
  }

  .card {
    margin: 10px;
  }

  .author-img {
    max-width: 250px;
  }
  .btn-title {
    font-size: 2rem;
    line-height: 2.2rem;
  }
  .btn-text {
    color: #fff;

    font-size: 1rem;

    font-weight: 500;
    line-height: 2.5rem;
  }

  /* fact section  */
  .facts {
    margin: 100px 25px;
  }
  .facts-description {
    margin: 0;
    margin-bottom: 50px;
    max-width: 550px;
  }
  .facts-card-container {
    flex-direction: column;
    gap: 30px;
  }
  /* sponsor section  */
  .sponsor {
    margin-right: 10px;
    margin-left: 10px;
  }
  .sponsor-description {
    max-width: 400px;
  }
  .logo-container {
    grid-template-columns: 1fr;
    gap: 50px;
    width: max-content;
    margin: auto;
    justify-content: center;
  }
}
/* medium device  */
@media screen and (min-width: 576px) and (max-width: 768px) {
  /* common style  */
  .section-title {
    font-size: 2.4rem;
  }
  .gray {
    color: #727272;
    font-size: 2.4rem;
    font-weight: 500;
  }
  .section-description {
    color: #727272;
    line-height: 1rem;
  }
  .btn {
    padding: 15px 20px;
  }

  /* header section */

  header {
    padding: 30px 10px;
  }
  .nav-container {
    flex-direction: column;
    gap: 50px;
  }
  .menu {
    flex-wrap: wrap;
  }
  .menu-item {
    margin-right: 20px;
  }
  .banner-title {
    font-size: 3rem;
  }
  /* feature  */
  .features {
    flex-direction: column;
  }
  .gallery-img {
    max-width: 200px;
  }
  .content-column {
    max-width: 450px;
  }
  /* experience  */
  .experience {
    flex-direction: column;
    margin: 20px;
    margin-bottom: 130px;
  }
  .card {
    margin: 10px;
  }

  .author-img {
    max-width: 250px;
  }
  .btn-title {
    font-size: 2rem;
    line-height: 2.2rem;
  }
  .btn-text {
    color: #fff;

    font-size: 1rem;

    font-weight: 500;
    line-height: 2.5rem;
  }
  /* fact section  */
  .facts {
    margin-left: 25px;
  }
  .facts-description {
    margin: 0;
    margin-bottom: 50px;
    max-width: 500px;
  }
  .facts-card-container {
    flex-direction: column;
    gap: 30px;
  }
  /* sponsor section  */

  .logo-container {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-left: 100px;
  }
}

/*large-device  */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* common style  */
  .section-title {
    font-size: 2.4rem;
  }
  .gray {
    color: #727272;
    font-size: 2.4rem;
    font-weight: 500;
  }
  .section-description {
    color: #727272;
    line-height: 1rem;
  }
  .btn {
    padding: 15px 20px;
  }

  /* header section */
  header {
    padding: 30px 30px;
  }
  .nav-container {
    gap: 50px;
  }
  .menu {
    flex-wrap: wrap;
  }
  .menu-item {
    margin-right: 25px;
  }
  .banner-content {
    max-width: 500px;
  }
  .banner-title {
    font-size: 3rem;
  }
  /* features  */
  .gallery-img {
    max-width: 200px;
  }
  .features {
    gap: 2rem;
  }
  /* experience  */
  .experience {
    flex-direction: column;
    margin: 20px;
    margin-bottom: 130px;
  }
  .card {
    margin: 10px;
  }

  .author-img {
    max-width: 450px;
  }
  .btn-title {
    font-size: 2rem;
    line-height: 2.2rem;
  }
  .btn-text {
    color: #fff;

    font-size: 1rem;

    font-weight: 500;
    line-height: 2.5rem;
  }
  /* fact section  */
  .facts {
    margin-left: 25px;
    text-align: center;
  }
  .facts-description {
    margin: auto;
    margin-bottom: 50px;
    max-width: 500px;
  }
  .facts-card-container {
    flex-direction: column;
    gap: 30px;
  }
  /* sponsor  */

  .logo-container {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
  }
}
/* extra-large device */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  header {
    padding: 30px 100px;
  }
  .menu-item {
    margin-right: 25px;
  }
  .gallery-img {
    max-width: 200px;
  }
  /* experience  */
  .experience {
    flex-direction: column;
    margin: 50px;
    margin-bottom: 130px;
  }
  .card {
    margin: 10px;
  }

  .author-img {
    max-width: 450px;
  }
  .btn-title {
    font-size: 2rem;
    line-height: 2.2rem;
  }
  .btn-text {
    color: #fff;

    font-size: 1rem;

    font-weight: 500;
    line-height: 2.5rem;
  }
  /*facts*/
  .facts {
    margin-left: 25px;
  }
  /* sponsor */
  .logo-container {
    margin-right: 20px;
    margin-left: 20px;
  }
}
/* Extra-Extra large device  */
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  header {
    padding: 30px 120px;
  }
  /* experience  */
  .experience {
    flex-direction: column;
    margin: 50px;
    margin-bottom: 150px;
  }
  .card {
    margin: 10px;
  }
  /*facts*/
  .facts {
    margin-left: 25px;
  }
  /* sponsor */
  .logo-container {
    margin-right: 20px;
    margin-left: 20px;
  }
}
